<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="/static/style.css" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <title>Password generator</title>
  </head>
<body>
<h1>Personal password generator</h1>
<br>
        {% block content %}{% endblock %}
<p class="footer">Password generator project by Marco Cuocolo<br>
    Check my <a href="https://github.com/mcuocolo">Github</a></p>
</body>
</html>